* {
	box-sizing: border-box;
}

body {
	background-color: #3F94E7;
}

header img {
	display: block;
	margin: 50px auto 30px auto;
	height: 35px;
}

form {
	width: 400px;
	background-color: white;
	padding: 0 40px;
	margin: 0 auto;
	border-radius: 5px;
}

form h1 {
	text-align: center;
	font-weight: normal;
	color: #615152;
	padding: 25px 0;
}
