* {
	box-sizing: border-box;
}

body {
	background-color: #3F94E7;
}

header img {
	display: block;
	margin: 50px auto 30px auto;
	height: 35px;
}

form {
	width: 400px;
	background-color: white;
	padding: 0 40px;
	margin: 0 auto;
	border-radius: 4px;
}

form h1 {
	text-align: center;
	font-weight: normal;
	color: #615152;
	padding: 30px 0 0 0;
}

fieldset {
	padding: 0;
}

fieldset h3 {
	font-weight: normal;
}

.contact-info {
	border: none;
	padding-top: 0;
	margin: 0 auto;
}

.inputBox {
	width: 320px;
	height: 55px;
	padding: 15px;
	border: 2px solid #E5E5E5;
	border-radius: 4px;
	font-size: 20px;
}

form button {
	width: 320px;
	height: 55px;
	border: 2px solid #65C470;
	border-radius: 4px;
	padding: 15px;
	color: white;
	background-color: #65C470;
	font-size: 22px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
	display: block;
	transition: background-color 0.5s ease,
				border 0.5s ease;
}

form button:hover {
	background-color: green;
	border: 2px solid green;
}

form a {
	display: block;
	text-align: center;
	padding-bottom: 35px;
}

form a:link {
	color: #8F8F8F;
}

footer p {
	text-align: center;
	color: white;
	font-weight: bold;
}

footer a:link {
	color: white;
	font-weight: bold;
}



